<div id="wrapper">
<img src="/assets/logotypeLeft.png" alt="Rob's Rock 'n' Roll Memorabilia" 
width="394" height="91" id="logotypeLeft" />
<img src="/assets/logotypeRight.png" alt="Rob's Rock 'n' Roll Memorabilia" 
width="415" height="92" id="logotypeRight" />

<div id="introPane">
<p>Are you looking for the perfect gift for the rock fan in your life? 
Maybe you want a guitar with some history behind it, or a conversation 
piece for your next big shindig. Look no further! Here you'll find all 
sorts of great memorabilia from the golden age of rock and roll.</p>
<p><strong>Click on an image to the left for more details.</strong></p>
</div>
<div id="menu">
<img src="/assets/itemGuitar.jpg" width="301" height="105" alt="guitar" 
title="itemGuitar" id="itemGuitar" />
<img src="/assets/itemShades.jpg" alt="sunglasses" width="301" height="88" 
title="itemShades" id="itemShades" />
<img src="/assets/itemCowbell.jpg" alt="cowbell" width="301" height="126" 
title="itemCowbell" id="itemCowbell" />
<img src="/assets/itemHat.jpg" alt="hat" width="300" height="152" 
title="itemHat" id="itemHat" />
</div>
<div id="detailsPane">
<img src="/assets/blank-detail.jpg" width="346" height="153" id="itemDetail" />
</div>
</div>
